.line {
    max-width: 70%;
    height: 2px;
    background-color: var(--border);
    margin: var(--margin-sm) auto;
}

.vertical {
    height: 4rem;
    width: 2px;
    margin: auto var(--margin-xs);
}
