.tableBody {
    font-size: var(--font-sm);
    color: var(--primary);
    font-family: var(--font-albert_sans);
    text-align: left;
}

.tableRow {
    height: 5.6rem;
}

.tableRow td:nth-child(2) {
    padding-left: var(--margin-sm);
}

.even {
    background-color: var(--card);
}

.even td:first-child {
    background-color: var(--card);
}

.emptyRow {
    height: 8rem;
}

.emptyCell {
    text-align: center;
    color: var(--secondary);
    font-size: var(--font-md);
}
