.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.6rem;
}

.icon {
    width: 3.2rem;
    height: 3.2rem;
    color: var(--primary);
}

.title {
    font-size: 3.2rem;
}
