:root {
    /* ====== Brand Colors */
    --primary: #13415b; /* Dark Slate Blue */
    --accent: #30bcba; /* Teal */
    --secondary: #1a618a;
    --danger: #ff0000;
    /* === light */
    --primary-light: rgba(19, 65, 91, 0.75);

    /* ====== Background Colors */
    --surface: #ffffff; /* Main application background */
    --card: #fafbfc; /* Cards / Sidebar */
    --input: #f3f5f7; /* Inputs */
    --border: #e9f4f6; /* borders */

    /* ====== Borders */
    /* --border-color: #E2E8F0;  Subtle grey border */
    --divider: rgba(203, 213, 225, 0.3);
    /* === Styles */
    --rounded-sm: 0.6rem;
    --rounded-lg: 20rem;

    /* ====== margin */
    --margin-xs: 1.2rem;
    --margin-sm: 1.6rem;
    --margin-md: 3.2rem;
    --margin-lg: 4.8rem;
    --margin-xl: 6.4rem;

    /* ====== padding */
    --padding-sm: 1.6rem;
    --padding-md: 2.4rem;
    --padding-lg: 3.2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    color: var(--primary);
    background-color: var(--surface);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

main {
    flex: 1;
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
