.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 1.6rem;
    font-family: var(--font-albert_sans);
    font-weight: 500;
    color: var(--primary-light);
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--border);
}
