.container {
    /* dynamic colors */
    --bg-color: var(--input);
    --text-color: var(--primary);
    --icon-color: var(--accent);

    width: min-content;
    height: 5rem;
    padding: var(--padding-xs);
    border-radius: var(--rounded-sm);
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--margin-xs);
    cursor: pointer;
}

.primary {
    /* if primary is true change the following colors */
    --bg-color: var(--primary);
    --text-color: #ffffff;
    --icon-color: #ffffff;
}

.text {
    font-size: var(--font-xs);
    color: var(--text-color);
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 700;
    letter-spacing: 0.05rem;
}

.icon {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}

.iconOnly {
    transform: scale(1.2);
}

.round {
    border-radius: var(--rounded-lg);
}
